$primary-background-color: #222;
$secondary-background-color: #3a3a3a;
$intermediate-background-color: #333;
$primary-accent-color: #e64242;
$secondary-accent-color: #3cce7b;
$rating-color: #ffbb00;

$filter-block-width: 300px;
$container-max-width: 1300px;

