$primary-background-color: #222;
$secondary-background-color: #3a3a3a;
$intermediate-background-color: #333;
$primary-accent-color: #e64242;
$secondary-accent-color: #3cce7b;
$rating-color: #ffbb00;
$anime-ongoing-color: #9954d8;
$login-section-color: #00ff90;


$filter-block-width: 300px;
$container-max-width: 1300px;
$user-info-section-height: 400px;
