@import "variables";


@mixin customizeButton($width, $height) {
    background-color: $intermediate-background-color;
    color: $primary-accent-color;
    font-size: 16px;
    width: $width;
    height: $height;
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin animeReleaseStatus ($color) {
    background-color: $color;
    border-radius: 10px;
    min-width: 21px;
    min-height: 18px;
    padding: 1px 4px;
    margin-left: 5px;
    font-weight: 600;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zen Kurenaido', sans-serif;
}

body {
    background-color: $primary-background-color;
    font-size: 16px;
    line-height: 1.4;
    color: white;
}

img {
    max-width: 100%;
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;
}

.navbar {
    border-top: $secondary-background-color 3px solid;
    border-bottom: $secondary-background-color 3px solid;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
    color: $primary-accent-color;
}

.navbar .logo-link {
    text-decoration: none;
    color: $primary-accent-color;
}

ul {
    list-style: none;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 12px 10px;
}

.menu a:hover {
    background-color: $secondary-background-color;
    transition-duration: 0.3s;
}

.menu {
    display: flex;
}

.login, .logout {
    margin-left: 50px;
    display: none;
}

#admin-page {
    display: none;
}

.content {
    margin-top: 50px;
}

.content .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select2-results {
    background-color: $intermediate-background-color;
    color: $primary-accent-color;
    font-weight: bold;
}

.select2-selection__rendered {
    color: $primary-accent-color;
    font-weight: bold;
}

.search-field {
    min-width: 200px;
    width: 600px;
    background-color: $intermediate-background-color;
    height: 40px;
    color: white;
    margin-bottom: 20px;
}

#filter-block {
    width: $filter-block-width;
    height: 600px;
    border: $primary-accent-color 3px solid;
    order: 2;
    background-color: $intermediate-background-color;
}

.filter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.filter-section select, input {
    width: 80%;
}

.filter-section input[type=submit] {
    @include customizeButton(80%, 30px);
    margin-top: 10px;
}

.content .tabs-block {
    width: $container-max-width - $filter-block-width - 10px;
    background-color: $intermediate-background-color;
    max-height: 600px;
}

.tabs-block .tabs-header {
    width: 100%;
    border-bottom: $primary-accent-color 3px solid;
    height: 50px;
}

.tabs-header .tabs-header-block {
    background-color: $primary-accent-color;
    width: 170px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-header-block p {
    font-size: 20px;
}

.tab-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preview-block {
    background-color: $secondary-background-color;
    height: 240px;
    width: 495px;
    margin-bottom: 15px;
}

.preview-img {
    float: left;
    width: 170px;
    height: 240px;
}

.preview-info-block {
    padding: 10px 10px;
    height: 240px;
    overflow: auto;
}

.content-main-info {
    line-height: 26px;
    display: flex;
    flex-direction: column;
}

.preview-title {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.preview-title:hover {
    color: $primary-accent-color;
    transition-duration: 0.3s;
    cursor: pointer;
}

.categories-list {
    display: flex;
    width: 100%;
    max-height: 70px;
}

.categories-list span {
    font-weight: bold;
}

.categories-list ul {
    list-style: none;
}

.categories-list li {
    margin-left: 5px;
    color: $primary-accent-color;
}

.ageRestr span {
    font-weight: bold;
    margin-right: 5px;
}

.main-rating {
    color: white;
    background-color: $rating-color;
    padding: 0px 5px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    font-size: 19px;
}

.main-rating-info {
    margin-left: 5px;
    color: white;
    font-size: 14px;
}

#pagination-block {
    width: 100%;
    height: 30px;
    background-color: $secondary-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#pagination-block > a {
    padding: 4px;
    text-decoration: none;
    color: white;
}

#pagination-block > a:hover {
    background-color: $primary-background-color;
    transition-duration: 0.3s;
    cursor: pointer;
}

.anime-block {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $intermediate-background-color;
    padding-bottom: 100px;
}

.anime-block .header-block {
    border-bottom: $primary-background-color 2px solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
    @include flexCenter(column);
}

.anime-block .anime-container {
    width: 900px;
}

.anime-block .anime-main-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anime-block #anime-image-block {
    order: 2;
}

.anime-block #anime-image {
    height: 300px;
    width: 200px;
}

.anime-block .rating-info {
    display: flex;
}
.anime-block .rating-info p {
    color: white;
    font-size: 18px;
    margin-left: 8px;
}

.anime-block #content-main-info {
    list-style: none;
    color: white;
    font-size: 18px;
}

.anime-block #content-desc-text {
    border-top: 2px solid $primary-background-color;
    color: white;
    font-size: 18px;
    max-width: 50%;
}

.anime-block .spoiler-block {
    margin-top: 15px;
    width: 100%;
    background-color: $primary-background-color;
}

.anime-block #spoiler-title {
    background-color: $primary-background-color;
    border-bottom: 3px solid $secondary-accent-color;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
}
.anime-block #spoiler-content {
    display: none;
}

.anime-block .spoiler-title {
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    background-color: $primary-background-color;
    border-bottom: 3px solid #3cce7b;
    font-size: 18px;
    margin: 10px 0px;
}

.anime-block .spoiler-content > p {
    color: white;
    font-size: 15px;
    margin-left: 10px;
}
.anime-block #genres {
    max-width: 500px;
}
.anime-block #genres p {
    display: inline-block;
    margin-right: 5px;
    color: $primary-accent-color;
}
.anime-block .main-rating {
    color: #fff;
    font-size: 18px;
    background-color: #f2b800;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}
.anime-block .released {
    @include animeReleaseStatus($secondary-accent-color);
}
.anime-block .ongoing {
    @include animeReleaseStatus($anime-ongoing-color);
}
.anime-block .announced {
    @include animeReleaseStatus($primary-accent-color);
}

.ap-container {
    width: 800px;
    height: 600px;
    background-color: $primary-background-color;
    margin: auto;

    .option-container {
        background-color: $primary-background-color;
        width: 100%;
    }
    
    .option-container > .ap-option-menu {
        list-style: none;
        margin: auto;
        width: 100%;
        text-align: center;
        display: flex;
        margin-top: 70px;
        border: 3px solid $intermediate-background-color;
    }
    
    .ap-option-menu > li {
        color: white;
        float: left;
        flex: 1;
        font-size: 30px;
    }
    
    .ap-option-menu > li:hover {
        color: $primary-accent-color;
        transition-duration: 0.3s;
        cursor: pointer;
    }
    
    .new-anime-block p {
        color: $primary-accent-color;
        font-size: 24px;
        float: left;
        margin-left: 10px;
    }
    
    .anime-main {
        width: 250px;
        height: 180px;
    }
    
    .anime-main > div {
        width: 100%;
        height: 60px;
    }
    
    .anime-main > div > input {
        float: right;
        margin-right: 40px;
        margin-top: 0;
        background-color: $intermediate-background-color;
        color: white;
    }
    
    .anime-description-block {
        width: 544px;
        height: 180px;
    }
    
    .anime-description-block > p {
        margin-top: 60px;
    }
    
    .anime-description-block > textarea {
        width: 400px;
        float: right;
        height: 70px;
        margin-top: 48px;
        margin-right: 10px;
        background-color: $intermediate-background-color;
        color: white;
    }
    
    .anime-status-block {
        width: 250px;
        height: 100px;
    }
    
    .anime-status-block > p {
        margin-top: 30px;
    }
    
    .anime-status-block > div {
        margin-top: 17px;
        float: right;
        margin-right: 50px;
    }
    
    .status-choice label {
        color: white;
        cursor: pointer;
        font-size: 15px;
    }
    
    .status-choice label:hover {
        color: $primary-accent-color;
        transition-duration: 0.1s;
    }
    
    .status-choice input[type="radio"] {
        -webkit-appearance: none;
        background-color: transparent;
        margin: 0;
        color: $primary-background-color;
        width: 16px;
        height: 16px;
        border: 2px solid $primary-accent-color;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 5px;
    }
    
    .status-choice input[type="radio"]:checked {
        background-color: $primary-accent-color;
    }
    
    .anime-ar-block {
        height: 100px;
        width: 544px;
        float: left;
    }
    
    .anime-ar-block > p {
        margin-top: 30px;
    }
    
    .ar-choice {
        float: right;
        margin-right: 250px;
        max-height: 100px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    .ar-choice label {
        color: white;
        font-size: 15px;
        cursor: pointer;
    }
    
    .ar-choice label:hover {
        color: $primary-accent-color;
        transition-duration: 0.1s;
    }
    
    .ar-choice input[type="radio"] {
        -webkit-appearance: none;
        background-color: transparent;
        margin: 0;
        color: $primary-background-color;
        width: 16px;
        height: 16px;
        border: 2px solid $primary-accent-color;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 10px;
    }
    
    .ar-choice input[type="radio"]:checked {
        background-color: $primary-accent-color;
    }
    
    .anime-genres-block {
        width: 100%;
        height: 100px;
    }
    
    .genre-choice {
        margin-left: 100px;
        height: 100px;
        max-width: 300px;
        display: flex;
        justify-content: flex-start;
        flex: 1;
        flex-wrap: wrap;
    }
    
    .anime-genres-block > p {
        margin-top: 30px;
    }
    
    .genre-choice input[type="checkbox"] {
        -webkit-appearance: none;
        background-color: transparent;
        margin: 0;
        width: 16px;
        height: 16px;
        border: 2px solid $primary-accent-color;
        cursor: pointer;
        margin-right: 5px;
    }
    
    .genre-choice label {
        color: white;
        margin-right: 10px;
        font-size: 17px;
        cursor: pointer;
        margin: auto;
    }
    
    .genre-choice label:hover {
        color: $primary-accent-color;
        transition-duration: 0.1s;
    }
    
    .genre-choice input[type="checkbox"]:checked {
        background-color: $primary-accent-color;
    }
    
    .anime-submit-block {
        margin: auto;
        height: 100px;
        width: 300px;
    }
    
    .anime-submit {
        height: 50px;
        width: 200px;
        background-color: $intermediate-background-color;
        color: $primary-accent-color;
        font-size: 17px;
        cursor: pointer;
        margin: 0;
    }
    
    .upload-image-block {
        margin: auto;
        width: 300px;
        height: 100px;
        display: flex;
    }
    
    #img-file {
        cursor: pointer;
        margin: 0;
    }
    
    .upload-image-block > label {
        color: white;
        font-size: 19px;
        cursor: pointer;
    }
    
    .viewing {
        background-color: $intermediate-background-color;
    }
    
    .new-anime-block {
        height: 100%;
        width: 100%;
        background-color: $primary-background-color;
        border: solid 3px $intermediate-background-color;
        border-top: solid 0px;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }
    
    #new-anime-block {
        display: none;
    }
    
    #new-arc-block {
        display: none;
    }
    
    .new-arc-block form {
        height: 150px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border: solid 3px $intermediate-background-color;
        border-top: solid 0px;
    }
    
    .arc-anime-title {
        height: 80px;
        flex: 1;
    }
    
    .arc-anime-title > label, input {
        margin-top: 40px;
        margin-left: 10px;
    }
    
    .arc-anime-title > label {
        color: $primary-accent-color;
        font-size: 18px;
    }
    
    .arc-anime-title input {
        background-color: $intermediate-background-color;
        color: white;
        width: 200px;
    }
    
    .arc-arc-title {
        height: 80px;
        flex: 1;
    }
    
    .arc-arc-title > label {
        color: $primary-accent-color;
        font-size: 18px;
        float: right;
        margin-right: 10px;
    }
    
    .arc-arc-title input {
        background-color: $intermediate-background-color;
        color: white;
        width: 200px;
    }
    
    .arc-submit-block {
        height: 70px;
        width: 100%;
        display: flex;
    }
    
    .arc-submit {
        height: 40px;
        width: 200px;
        color: $primary-accent-color;
        font-size: 17px;
        background-color: $intermediate-background-color;
        margin: auto;
        cursor: pointer;
    }
    
    #new-episode-block {
        display: none;
    }
    
    .new-episode-block {
        width: 100%;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        border: solid 3px $intermediate-background-color;
        border-top: solid 0px;
    }
    
    .ep-anime-block {
        width: 50%;
        height: 100px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .ep-anime-block > label {
        color: $primary-accent-color;
        font-size: 18px;
        margin: auto;
        margin-left: 10px;
    }
    
    .ep-anime-block input {
        color: white;
        background-color: $intermediate-background-color;
        margin: auto;
    }
    
    .ep-episode-block {
        height: 100px;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .ep-episode-block > label {
        color: $primary-accent-color;
        font-size: 18px;
        margin: auto;
        margin-left: 10px;
    }
    
    .ep-episode-block input {
        background-color: $intermediate-background-color;
        color: white;
        margin: auto;
    }
    
    .ep-submit-block {
        width: 100%;
        height: 100px;
        display: flex;
    }
    
    .ep-submit {
        height: 40px;
        width: 200px;
        color: $primary-accent-color;
        font-size: 17px;
        background-color: $intermediate-background-color;
        margin: auto;
        cursor: pointer;
    }
}

#login-section, #signup-section {
    display: flex;
    border-bottom: solid 3px;
    border-bottom-color: $primary-accent-color;
    border-top: solid 3px;
    border-top-color: $primary-accent-color;
    margin-top: 200px;
    width: 100%;
    justify-content: center;
}

#login-section form, #signup-section form {
    padding: 40px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#login-section form input, #signup-section form input {
    width: 200px;
    background-color: $intermediate-background-color;
    color: $login-section-color;
    height: 30px;
    font-size: 16px;
}

#login-section #submit, #signup-section #submit {
    margin-top: 10px;
}

.successfulResponce {
    color: $login-section-color;
}

.unsuccessfulResponce {
    color: $primary-accent-color;
}

#login-section #login-responce, #signup-section #signup-responce {
    padding-top: 5px;
    font-size: 14px;
    width: 200px;
    text-align: center;
    display: none;
}

#login-section .sighnUpReroute {
    text-align: center;
    color: $anime-ongoing-color;
    text-decoration: none;
}

.user-page-content {
    margin-top: 100px;
}

.user-page-container {
    display: flex;
    width: 850px;
}

.user-page-container .user-info-section {
    width: 600px;
    height: $user-info-section-height;
    background-color: $intermediate-background-color;
    display: flex;
}

.user-page-container .user-image {
    height: 300px;
    width: 200px;
    border-bottom: $primary-background-color 5px solid;
}

.user-page-container .user-image-block {
    height: 100%;
    width: 200px;
    border-right: $primary-background-color 5px solid;
}

.user-page-container .user-summary-block {
    height: 90px;
    @include flexCenter(column);
}

.user-page-container .user-info-block {
    width: 360px;
    height: 100%;
    margin-left: 15px;

    p {
        margin-right: 7px;
    }
}

.user-page-container .user-info-piece-block {
    display: flex;
    margin-top: 7px;
}

.user-page-container .user-settings-block {
    height: $user-info-section-height;
    background-color: $intermediate-background-color;
    width: 200px;
    @include flexCenter(column);
    border-left: $primary-background-color 5px solid;


    a {
        text-decoration: none;
        color: $anime-ongoing-color;
        font-size: 18px;
    }
}

#user-page {
    color: $rating-color;
}





